<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-success">This is bootstrap.</div>
    <button type="button" class = "btn btn-primary">Login</button>


   <form #loginForm="ngForm" (ngSubmit)="getFormData(loginForm)" class="container col-md-4">

<div>

<label for="username">Enter UserName: </label>

<input type="text" name="username" required class="form-control" ngModel #uid="ngModel"/>
<span style="color: rgb(229, 39, 17)" *ngIf = "uid.touched && uid.invalid">UserName is Required</span>
</div>
 
<div>

<label for="password">Enter Password: </label>

<input type="text" name="password" required class="form-control" ngModel #pwd="ngModel"/>
<span  style="color:red"  *ngIf="pwd.touched && pwd.invalid">Password is Required</span>
</div>

<button type="submit" class="btn btn-success">Login</button>

</form>
</body>
</html>