<div class="card" style="margin-top: 30px;">
    <h1 class="text-center p-5">Players in Team where the Team members Played Max Matches</h1>
    <div class="container p-3">
    <table class="table">
         <thead>
           <tr>
             <th scope="col">Player Name</th>
             <th scope="col">Jersey Number</th>
            <th scope="col">Role</th>
             <th scope="col">Total Matches</th>
            <th scope="col">Team Name</th>
            <th scope="col">Country Name</th>
            <th scope="col">Description</th></tr>
            </thead>
              <tbody>
                <ng-container *ngFor="let player of players">
                    <tr>
                     <td>{{ player.playerName }}</td>
                    <td>{{ player.jerseyNumber }}</td>
                    <td>{{ player.role }}</td>
                    <td>{{ player.totalMatches }}</td>
                    <td>{{ player.teamName }}</td>
                    <td>{{ player.countryName }}</td>
                     <td>{{ player.description }}</td>
                 </tr>
                </ng-container>
                 </tbody>
        </table>
</div>
</div>
